html {
  width: 100%;
}
body {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}
.header {
  position: fixed;
  z-index: 89;
  width: 100%;
}
.banner {
  padding-top: 50px;
}
.words {
  text-align: center;
}
.words h2 {
  padding: 20px 0px;
  font-size: 36px;
  color: orange;
}
.words p {
  padding: 5px 0px;
  font-size: 14px;
  color: #333;
}
.container {
  width: 100%;
}
.box {
  float: left;
}
.box ul {
  box-shadow: 0 2px 3px 3px #a9aaa9;
  text-align: center;
}
.box ul li {
  margin-top: 30px;
  line-height: 30px;
  border-bottom: 1px dashed #666;
}
.box ul li:first-child {
  height: 50px;
}
.box ul li:first-child p {
  font-size: 25px;
  line-height: 23px;
}
.box ul li:first-child span {
  font-size: 12px;
}
.box ul li:nth-of-type(2) {
  background-color: #58e083;
}
.box ul li:nth-of-type(7) {
  background: linear-gradient(to left, orange 0%, skyblue 100%);
}
.box ul li:nth-of-type(7) a {
  font-size: 25px;
  color: #333;
}
